---
import BaseLayout from "../layouts/BaseLayout.astro";
import Hero from "../components/Hero.astro";
import About from "../components/About.astro";
import SupportAreas from "../components/SupportAreas.astro";
---

<BaseLayout>
	<main>
		<Hero />
		<About />
		<SupportAreas />
	</main>
</BaseLayout>
