---
import BaseLayout from "../layouts/BaseLayout.astro";
import Hero from "../components/Hero.astro";
import About from "../components/About.astro";
import SupportAreas from "../components/SupportAreas.astro";
import Footer from "../components/Footer.astro";
import FamilySupport from "../components/FamilySupport.astro";
import SchoolSupport from "../components/SchoolSupport.astro";
import OrganisationSupport from "../components/OrganisationSupport.astro";
---

<BaseLayout>
	<main>
		<Hero />
		<About />
		<SupportAreas />

		<FamilySupport />
		<SchoolSupport />
		<OrganisationSupport />

		<Footer />
	</main>
</BaseLayout>
