---
import BaseLayout from "../layouts/BaseLayout.astro";
import Hero from "../components/Hero.astro";
import About from "../components/About.astro";
import SupportAreas from "../components/SupportAreas.astro";
import Footer from "../components/Footer.astro";
import IndividualSupport from "../components/IndividualSupport.astro";
import SchoolSupport from "../components/SchoolSupport.astro";
import OrganisationSupport from "../components/OrganisationSupport.astro";
import Qualifications from "../components/Qualifications.astro";
import HowIWork from "../components/HowIWork.astro";
---

<BaseLayout>
	<main>
		<Hero />
		<About />
		<Qualifications />
		<HowIWork />

		<SupportAreas />

		<IndividualSupport />
		<SchoolSupport />
		<OrganisationSupport />

		<Footer />
	</main>
</BaseLayout>
