---
import { site } from "../content/site";
---

<section class="section section-light about" id="about">
    <div class="container about-text-grid">
        <div class="about-intro">
            <p class="section-label">{site.about.label}</p>

            <h2 class="section-title">
                {site.about.title}
            </h2>
        </div>

        <div class="about-copy">
            <p>{site.about.description}</p>

            <p>{site.about.secondParagraph}</p>
        </div>
    </div>
</section>
