---
import { Image } from "astro:assets";
import logo from "../assets/images/brain.png";
---

<div class="hero-visual" aria-hidden="true">
    <div class="hero-artwork">
        <Image src={logo} alt="Victoria Howson logo" class="hero-logo" />
    </div>
</div>
