---
import "../styles/global.css";
import { site } from "../content/site";

type Props = {
	title?: string;
	description?: string;
};

const { title = site.seo.title, description = site.seo.description } =
	Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{title}</title>
	</head>

	<body>
		<slot />
	</body>
</html>
